In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()

In [2]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [23]:
df = pd.DataFrame(iris.data,columns=iris.feature_names)#Converting it into Dataframe
df['target']=iris.target#Adding new column as name 'target' which will contain the value of 'iris.target'

In [28]:
iris.target_names#Displaying the All names avaialble in the set

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [29]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

#### Setosa = 0
#### Versicolor = 1
#### Virginica = 2

In [30]:
#importing 'train_test_split' for training and testing Data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(iris.data,iris.target,test_size=0.2)

# Hyper Parameter Tunning
#### Now Checking One-By-One Machine Learning Models and getting best score by there parameters

In [42]:
from sklearn.svm import SVC

In [59]:
model_svc = SVC(gamma='auto',C=10,kernel='rbf')
model_svc.fit(X_train,y_train)
model_svc.score(X_test,y_test)

0.9666666666666667

In [65]:
#Checking Score of all trained and tested sets using Cross Validation Technique
from sklearn.model_selection import cross_val_score

In [77]:
cross_val_score( SVC(gamma='auto',C=60,kernel='linear'),X_train,y_train).mean()

0.9833333333333332

In [86]:
cross_val_score( SVC(gamma='auto',C=40,kernel='rbf'),X_train,y_train).mean()

0.9666666666666668

In [81]:
cross_val_score( SVC(gamma='auto',C=10,kernel='poly'),X_train,y_train).mean()

0.975

In [80]:
cross_val_score( SVC(gamma='auto',C=10,kernel='rbf'),X_train,y_train).mean()

0.975

# IMPORTANT POINT
### So you seen that if you used "cross_val_score" then you have to put multiple values and it will just hectic to you so instead of this  you should use Hyper Parameter Tunning (gridSearchCv)

In [126]:
from sklearn.model_selection import GridSearchCV#Importing Grid Search CV
clf = GridSearchCV(svm.SVC(),{
    #Passing the parameters of Sopport Vector Machine
    'C' : [1,10,30],
    'kernel':['rbf','linear'],
},cv=5,return_train_score=False)#cv = 5 that means how many cross_val_score() you want to search
clf.fit(iris.data,iris.target)#Fiting the X,y in GridSearchCV
df=clf.cv_results_

In [127]:
df1=pd.DataFrame(df)
df1.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006228,0.004210,0.002274,0.000657,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,0.966667,0.966667,0.933333,1.0,0.966667,0.021082,5
1,0.001619,0.000641,0.000957,0.000284,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.000000,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.001111,0.000081,0.000886,0.000102,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.000000,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.000989,0.000061,0.000693,0.000085,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.000000,0.900000,0.966667,1.0,0.973333,0.038873,3
4,0.001039,0.000073,0.000728,0.000022,30,rbf,"{'C': 30, 'kernel': 'rbf'}",0.966667,1.000000,0.933333,0.966667,1.0,0.973333,0.024944,3

In [131]:
#Now Geting Only Improtant Columns
df1[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.966667
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      30          rbf         0.973333
5      30       linear         0.960000