In [1]:
# Types of Naive Bayes
### 1) Bernoulis Bayes ex: We can only use 0,1
### 2) Multinominal Bayes : ex- Rating movie from 1 to 5

In [1]:

import pandas as pd

In [4]:
titanic_df = pd.read_csv("titanic.csv")
titanic_df.head(2)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1

In [7]:
finale_df = titanic_df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 'columns')

In [8]:
finale_df.head(3)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1

In [37]:
from sklearn.preprocessing import LabelEncoder
le_sex=LabelEncoder()
finale_df['Sex_n'] = le_sex.fit_transform(finale_df['Sex'])
#You can also use get_dummies from pandas

In [38]:
finale_df.drop(["Sex"],axis='columns')
finale_df.head()

   Pclass     Sex   Age     Fare  Survived  Sex_n
0       3    male  22.0   7.2500         0      1
1       1  female  38.0  71.2833         1      0
2       3  female  26.0   7.9250         1      0
3       1  female  35.0  53.1000         1      0
4       3    male  35.0   8.0500         0      1

In [68]:
target = finale_df.Survived# Dependable variable which we have to find we can also called them 'y'
inputs = finale_df.drop(['Survived','Sex'],axis = 'columns') #Independable variable which we already have to find we can also called them 'X'

In [69]:
inputs

     Pclass   Age     Fare  Sex_n
0         3  22.0   7.2500      1
1         1  38.0  71.2833      0
2         3  26.0   7.9250      0
3         1  35.0  53.1000      0
4         3  35.0   8.0500      1
..      ...   ...      ...    ...
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3   NaN  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

[891 rows x 4 columns]

In [70]:
inputs.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [71]:
#Detecting whether there is any NA value available there
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [72]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())#Filling NA values with Mean of that Column()

In [73]:
inputs.columns[(inputs.isna().any())] #Recheking whether any value is missing Or Not Available

Index([], dtype='object')

In [74]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=.2)

In [75]:
X_train.shape

(712, 4)

In [76]:
#Now time to use Naive Bayes 
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [77]:
model.fit(X_train,y_train)

GaussianNB()

In [78]:
model.predict(X_test)

array([1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1])

In [81]:
model.score(X_test,y_test)

0.7430167597765364